ul li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: medium;
}
html {
    overflow-x: hidden;
}
.frajer {
    margin: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navBar {
    display: flex;
    justify-content: space-evenly;
}
a:hover {
    color: #3597FF;
}
ul {
    width: 800px;
    margin-right: 80px;
}
.precoopenlab {
    text-align: center;
}
.precoopenlabvysvetlenie {
    margin: 0 auto;
    text-align: center;
}
.butUvod, .butOpenlab, .butPreucitelov, .butPartneri, .butModernaskola, .butCasteotazky {
    color: black;
    text-decoration: none;
}
.butUvod, .butOpenlab, .butPreucitelov, .butPartneri, .butModernaskola {
    margin-right: 50px;
}
li {
    justify-content: space-evenly;
    display: inline-block;
}
.pridajtesaknam {
    border-radius: 7px;
    height: 45px;
    width: 170px;
    background-color: #3597FF;
    color: white;
    font-weight: 550;
    font-size: medium;
    border: #3597FF;
    margin-right: 100px;
    margin-top: 6px;
}
.discordButton {
    border-radius: 20px;
    margin-top: 7px;
    margin-left: 30px;
    height: 32px;
    width: 200px;
    background-color: #F0F0F1;
    border: 1px solid #d8d8d8;
    font-size: small;
    font-weight: 550;
    color: #a5a5a5;
}
.topHeader {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    justify-content: center;
    margin-top: 10px;
}
.nexttophoto {
    font-weight: 360;
    padding-top: 7%;
    line-height: 140%;
    font-size: 300%;
    max-width: 700px;
    color: white;
}
.undermaintext {
    line-height: 150%;
    font-weight: 550;
    max-width: 600px;
    font-size: 120%;
    color: white;
}
.divtophoto {
    background-color: #3597FF;
    padding-left: 13%;
    height: 550px;
    display: inline-block;
}
.divOverFlowMore {
    position: relative;
    overflow: visible;
}
.fotoBokModre {
    position: absolute;
    right: 0;
    transform: translateX(50%) translateY(65%);
    width: 482px;
}
.mainphoto {
    float: right;
    width: 38%;
    height: auto;
}
.headerQuote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.logo {
    margin-left: 7vw;
    margin-top: 10px;
    height: 28px;
    width: 120px;
}
.tophr {
    background-color: #e3e3e3;
    border: none;
    height: 1px;
    max-width: 1400px;
}
.precoopenlab {
    font-weight: 360;
    padding-top: 5%;
    font-size: 250%;
}
.precoopenlabvysvetlenie {
    font-size: medium;
    line-height: 150%;
    color: #646464;
    font-weight: 550;
    padding-top: 3%;
    max-width: 1000px;
    padding-right: 5%;
    padding-left: 5%;
}
.elements {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    float: center;
    grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));
    font-weight: 550;
    color: #646464;
    padding-top: 4%;
    padding-left: 7%;
}
.why {
    color: black;
}
.vizia {
    padding-top: 12%;
    display: flex;
    justify-content: center;
}
.vizia-heading-div {
    max-width: 600px;
}
.elements-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
    padding-left: 5%;
}
.padding-right {
    padding-right: 10%;
}
.vizia-heading {
    font-weight: 400;
    padding-bottom: 2%;
}
.vizia-heading-1 {
    font-weight: 550;
    color: #646464;
    padding-bottom: 0.6%;
}
.vizia-heading-2 {
    font-weight: 550;
    color: #646464;
}
.colorful-infos {
    float: right;
    justify-content: flex-end;
}
.triedy {
    background-color: #daeafc;
    color: #5B94D7;
    line-height: 0.1cm;
    border-radius: 8px;
    text-align: right;
}
.triedy-text {
    font-weight: 700;
    font-size: 400%;
}
.triedy-mini-text {
    font-weight: 600;
    font-size: 130%;
}
.studenti {
    background-color: #D7F8EB;
    color: #5CC19A;
    line-height: 0.1cm;
    border-radius: 8px;
    text-align: right;
}
.studenti-text {
    font-weight: 700;
    font-size: 400%;
}
.studenti-mini-text {
    font-weight: 600;
    font-size: 130%;
}
.labmastri {
    background-color: #fff8d5;
    color: #DBCA68;
    line-height: 0.1cm;
    border-radius: 8px;
    text-align: right;
}
.labmastri-text {
    font-weight: 700;
    font-size: 400%;
}
.labmastri-mini-text {
    font-weight: 600;
    font-size: 130%;
}
.skoly {
    background-color: #f3cccc;
    color: #b9586f;
    line-height: 0.1cm;
    border-radius: 8px;
    line-height: -0.5cm;
}
.skoly-text {
    font-weight: 700;
    font-size: 400%;
    text-align: right;
}
.skoly-mini-text {
    font-weight: 600;
    font-size: 130%;
    text-align: right;
}
@media screen and (max-width: 1200px) {
    .vizia {
        flex-direction: column;
    }
    .triedy, .studenti, .labmastri, .skoly {
        height: 200px;
        width: 35vw;
    }
    .vizia-heading-div {
        margin-left: 10%;
    }
    .elements-2 {
        margin-left: 5%;
        margin-right: 15%;
    }
}
@media screen and (min-width: 1201px) {
    .triedy, .studenti, .labmastri, .skoly {
        height: 200px;
        width: 250px;
    }
}
.v-akych-laboch-mozes-studovat {
    padding-top: 10%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-left: 20%;
    margin-right: 10%;
}
.v-akych-laboch-mozes-studovat-heading {
    font-weight: 400;
    margin: 0%;
    max-width: 300px;
}
.hybrid-games-apps {
    display: flex;
}
.hybrid, .games, .apps {
    max-width: 180px;
}
.left-arrow {
    padding-top: 30%;
}
.right-arrow {
    padding-top: 30%;
}
@media screen and (max-width: 1000px) {
    .v-akych-laboch-mozes-studovat {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .hybrid-games-apps {
        flex-direction: column;
        padding-top: 5%;
    }
    .hybrid, .games, .apps {
        max-width: 90%;
    }
    .left-arrow, .right-arrow {
        padding: 0%;
    }
    .prihlasteSaDoNashoNewslettra {
        flex-direction: column;
    }
    .prihlasteSaDoNashoNewslettraText {
        text-align: center;
    }
}
.hybrid-heading {
    font-weight: 400;
}
.hybrid-text {
    font-weight: 550;
    color: #646464;
}
.games-heading {
    font-weight: 400;
}
.games-text {
    font-weight: 550;
    color: #646464;
}
.apps-heading {
    font-weight: 400;
}
.apps-text {
    font-weight: 550;
    color: #646464;
}
.hybrid-games-apps {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.v-akych-laboch-mozes-studovat-nadpis {
    margin-right: 0%;
}
.nachadzame-sa-na-dvoch-skolach-heading {
    font-weight: 400;
    padding-top: 10%;
    text-align: center;
}
.halova-foto-robolab {
    height: 90%;
    width: 90%;
}
.nachadzame-sa-na-dvoch-skolach-fotografie-a-ramceky {
    display: flex;
}
.popis-halova-miesto {
    font-weight: 550;
    color: #646464;
}
.popis-kys-miesto {
    font-weight: 550;
    color: #646464;
}
.kys-foto-mesto {
    height: 90%;
    width: 90%;
}
.nachadzame-sa-na-dvoch-skolach-popis-halova {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-top: 5%;
}
.nachadzame-sa-na-dvoch-skolach-popis-kys {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-top: 5%;
}
.spse-halova-adresa-nazov, .spse-kys-adresa-nazov {
    max-width: 300px;
}
.halova-position-mark, .kys-position-mark {
    margin-bottom: -1%;
}
@media screen and (max-width: 992px) {
    .nachadzame-sa-na-dvoch-skolach-fotografie-a-ramceky {
        flex-direction: column;
    }
    .halova-foto-robolab {
        width: 100%;
    }
    .kys-foto-mesto {
        width: 100%;
    }
    .spse-halova-adresa-nazov, .spse-kys-adresa-nazov {
        max-width: 80%;
    }
}
.co-si-o-openlabe-myslia-studenti {
    padding-left: 7%;
    margin-top: 13%;
}
.co-si-o-openlabe-myslia-studenti-nazor-1 {
    font-weight: 550;
    color: #646464;
}
.co-si-o-openlabe-myslia-studenti-fotka-img {
    height: 45%;
    width: 45%;
    float: right;
    margin-top: -25%;
}
.my-vsetci-sme-openlab-div {
    padding-top: 17%;
    padding-left: 3%;
}
.my-vsetci-sme-openlab-p {
    font-weight: 550;
    color: #646464;
}
.my-vsetci-sme-openlab-windows {
    justify-content: space-evenly;
    display: flex;
}
.co-si-o-openlabe-myslia-studenti-heading {
    font-weight: 400;
}
.my-vsetci-sme-openlab-heading {
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 481px) {
    .green, .pink, .yellow {
        float: left;
        padding: 0;
        width: 94%;
        margin: 3%;
    }
}
.my-vsetci-sme-openlab-mastri, .my-vsetci-sme-openlab-firmy, .my-vsetci-sme-openlab-skoly, .my-vsetci-sme-openlab-studenti {
    max-width: 245px;
    gap: 30px;
}
@media screen and (max-width: 850px) {
    .my-vsetci-sme-openlab-mastri, .my-vsetci-sme-openlab-firmy, .my-vsetci-sme-openlab-skoly, .my-vsetci-sme-openlab-studenti {
        float: left;
        padding: 0;
        max-width: 90%;
    }
    .my-vsetci-sme-openlab-windows {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
        margin-left: 10%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 1400px) {
    .fotoRamcekySpoznajNas {
        flex-direction: column;
    }
}
.spoznajNas {
    padding-top: 5%;
}
    .fotoRamcekySpoznajNas {
    padding-top: 4%;
    padding-left: 4%;
    display: grid;
    justify-content: center;
    grid-template-columns:
    repeat(auto-fit, minmax(350px, 1fr));
}
.spoznajNash2Heading {
    font-size: 260%;
    text-align: center;
}
.viktoriaFoto, .grigorFoto, .matijaFoto, .janFoto, .veronikaFoto {
    height: 367px;
    width: 306px;
    border-radius: 7px;
}
.topPViktoria, .bottomPViktoria, .topPGrigor, .bottomPGrigor, .topPMatija, .bottomPMatija, .topPJan, .bottomPJan, .topPVeronika {
    font-weight: 550;
    font-size: 110%;
    color: #646464;
}
.h2Viktoria, .h2Grigor, .h2Matija, .h2Jan, .h2Veronika {
    font-size: 150%;
    font-weight: 450;
}
.cimSmeVynimocni {
    padding-top: 8%;
    max-width: 1200px;
    margin: 0 auto;
}
.PCimSmeVyniomcni {
    font-weight: 500;
    color: #646464;
    text-align: left;
}
.ramcekyCimSmeVynimocni {
    display: grid;
    padding-top: 5%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    max-width: 100%;
}
.cimSmeVynimocniHeading {
    text-align: center;
}
.cimsmevynimocniPartneri, .cimsmevynimocniLabMaster, .cimsmevynimocniUcebnyBlok, .cimsmevynimocniProblemDriven, .cimsmevynimocniProjectDriven, .cimsmevynimocniSamostudium {
    max-width: 300px;
}
.podporteNas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
.podporteNasFoto {
    width: 636px;
    height: 451px;
}
.podporteNasP {
    font-weight: 500;
    color: #646464;
}
.podporteNasTextDiv {
    max-width: 650px;
    vertical-align: middle;
}
.chcemPodporitBut {
    border: none;
    background-color: white;
    color: #3597FF;
    font-weight: 500;
    font-size: 100%;
    padding-top: 4%;
}
.ktoStojiZaOpenLabom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
@media screen and (max-width: 1215px) {
    .ktoStojiZaOpenLabom {
        flex-direction: column;
    }
    .ktoStojiZaOpenLabomHeading {
        margin-bottom: 100px;
    }
    .podporteNas {
        flex-direction: column;
    }
    .podporteNasFoto {
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width: 712px) {
    .podporteNasTextDiv {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.ktoStojiZaOpenLabomHeading {
    font-weight: 400;
    max-width: 300px;
    margin-right: 400px;
}
.ktoStojiZaOpenLabomFoto {
    justify-content: center;
}
.columnKtoStojiZaOpenlabom {
    max-width: 600px;
}
.wezeo, .siemensfoto {
    margin-right: 40px;
}
.halova {
    margin-right: 30px;
    margin-left: 30px;
}
.modernaSkolaFoto {
    width: 636px;
    height: 358px;
    padding-left: 25%;
}
@media screen and (max-width: 1512px) {
    .modernaSkolaFoto {
        height: 257px;
        width: 456px;
        padding: 0;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 553px) {
    .modernaSkolaFoto {
        width: 80vw;
        height: auto;
    }
    .nieJeModernaSkolaText {
        margin-right: 10%;
        margin-left: 10%;
    }
}
@media screen and (max-width: 1225px) {
    .nieJeModernaSkolaAkoModernaSkola {
        flex-direction: column-reverse;
    }
}
.nieJeModernaSkolaAkoModernaSkola {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modernaSkolaHeading {
    font-weight: 400;
}
.modernaSkolaP {
    font-weight: 500;
    color: #646464;
    max-width: 500px;
}
.modernaSkolaBut {
    border-radius: 5px;
    padding: 18px 44px;
    background-color: #3597FF;
    color: white;
    font-weight: 550;
    font-size: medium;
    border: #3597FF;
}
.youTubeBut, .spotifyBut, .googlePodcastBut {
    padding-right: 10px;
}
.linky {
    padding-top: 10px;
    padding-bottom: 22px;
}
.bratislavskySamKraj {
    height: 55px;
    width: 188px;
}
.accenture {
    height: 45px;
    width: 140;
}
.startitup {
    height: 65px;
    width: 140px;
}
.fondNaPodporuUmenia {
    height: 60px;
    width: 148px;
}
.superFaktura {
    height: 75px;
    width: 263px;
}
.pontisNadacia {
    height: 105px;
    width: 105px;
}
.binary {
    height: 85px;
    width: 203px;
}
.kontentino {
    height: 45px;
    width: 223px;
}
.impactLab {
    height: 55px;
    width: 206px;
}
.posAm {
    height: 65px;
    width: 100px;
}
.datalan {
    height: 65px;
    width: 222px;
}
.medirex {
    height: 70px;
    width: 87px;
}
.podporovatelia {
    max-width: 1200px;
    margin: 0 auto;
}
.dakujemeZaPodporuVRoku2023Heading {
    font-weight: 400;
    padding-bottom: 75px;
    text-align: center;
}
.dakujemeZaPodporuVRoku2023 {
    padding-top: 150px;
}
.prihlasteSaDoNashoNewslettra {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #daeafc;
    max-width: 1300px;
    height: 150px;
    border-radius: 5px;
    margin: 150px auto 0px;
}
.prihlasteSaDoNashoNewslettraText {
    max-width: 400px;
    font-weight: 400;
    padding-right: 150px;
}
.semZadajteSvojEmail {
    width: 500px;
    height: 35px;
    border: none;
    padding-left: 13px;
    color:#646464;
    font-weight: 500;
    border-radius: 7px;
}
.footer {
    color: #646464;
    font-weight: 450;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    text-align: left;
    margin: 150px auto 0px;
}
.facebook, .linkedIn {
    padding-right: 5px;
}
.footerOpenLabLogo {
    height: 27px;
    width: 112px;
}
.footerPrava {
    margin: 0;
}